.header {
  &__link {
    color: var(--text, #252b42);


   
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    letter-spacing: 0.2px;
  }
}
